{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> -->
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">header</div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h2 class="logo-font mb-4">Service Business Card Contact Page</h2>
    <p>AKA = {{ service.default_aka }}</p>
    <p>Service provider = {{ service.default_service_provider }}</p>
    <p>Town and City = {{ service.default_town_or_city }}</p>
    <p>County = {{ service.default_county }}</p>
    <p>Postcode = {{ service.default_postcode }}</p>
    <div style="border-bottom: 4px dotted blue;"></div>

    <!-- button -->
    <h3>Contact this service</h3>
    <p>Crispy Form section to send message</p>
    <form class="" action="{% url 'checkout' %}" method="POST" id="">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="">Submit message and go to checkout page</button>
    </form>
    
    <!-- generate a row for each message in the history -->
    <h3>Message history/ you have no message history with this service</h3>
        {% for message in all_messages %}
            {% if message %}
                <p>Message sender: {{ message.m_sender }}</p>
                <p>User logged in: username {{ username }} or AKA: {{ service.default_aka }}</p>
                <p>User request.user {{ request.user }}</p>
                <p>{{message.m_title}}</p>
                <p>{{message.m_body}}</p>
                <p>{{message.m_share_email_box}}</p>
                <p>{{message.m_created_date}}</p>
                {% if not message.m_sender %}
                    <p>{{message.m_sender}}</p>
                {% else %}
                    <p>{{m_sender}}</p>
                {% endif %}
                <p>{{message.m_receiver}}</p>
                <a type="button"
                    href="{% url 'delete_service_message' message_id=message.id username=service.id %}">Remove
                    message!</a>
                <div style="border-bottom: 2px solid rgb(143, 114, 60);"></div>
            {% else %}

                <div style="border-bottom: 2px solid rgb(143, 114, 60);">You are not logged in or you dont have a message history with this service provider</div>
            {% endif %}
        {% endfor %}
                

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <!-- <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> -->
    {% endblock %}