{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> -->
{% endblock %}

{% block page_header %}
<!-- <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div> -->
{% endblock %}

{% block content %}

            <h2 class="">My Profile</h2>
            
            crispy form start below
            <form class="mt-3" action="{% url 'my_profile' %}" method="POST" id="">
                {% csrf_token %}
                {{ my_profile_form|crispy }}
                <button class="">Update Information</button>
            </form>
        
            <h3>Message history</h3>
            {% if request.user.is_authenticated %}
            <h3>MESSAGE HISTORY</h3>
            {% for message in all_messages %}
                {% if message %}
                    <p>Message sender: {{ message.m_sender }}</p>
                    <p>User logged in: username {{ username }} or AKA: {{ service.default_aka }}</p>
                    <p>User request.user {{ request.user }}</p>
                    <p>{{message.m_title}}</p>
                    <p>{{message.m_body}}</p>
                    <p>{{message.m_share_email_box}}</p>
                    <p>{{message.m_created_date}}</p>
                    {% if not message.m_sender %}
                        <p>{{message.m_sender}}</p>
                    {% else %}
                        <p>{{m_sender}}</p>
                    {% endif %}
                    <p>{{message.m_receiver}}</p>
                    <a type="button"
                        href="{% url 'delete_service_message' message_id=message.id username=request.user %}">Remove
                        message!</a>
                    <div style="border-bottom: 2px solid rgb(143, 114, 60);"></div>
                {% else %}
                    <div style="border-bottom: 2px solid rgb(143, 114, 60);">You have no message history with this user</div>
                {% endif %}
            {% endfor %}
        {% else %}
            <!--  DO NOT SHOW ANY MESSAGE HISTORY IF USER IS NOT LOGGED IN -->
        {% endif%}

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <!-- <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> -->
    {% endblock %}