{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> -->
{% endblock %}

{% block page_header %}
<!-- <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div> -->
{% endblock %}

{% block content %}
<!--  profile bootstrap https://bootsnipp.com/snippets/K0ZmK version 1  -->
<!-- vesion 2 https://freefrontend.com/bootstrap-profiles/ -->
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>John Doe</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <h3>Message history</h3>
                    <p> logged in user = {{ request.user }} </p>
                    {% for order in orders %}
                        <p>s_contact_message = {{order.s_contact_message}}</p>
                        <p>s_contact_message.m_sender = {{ order.s_contact_message.m_sender }}</p>
                        <p>s_contact_message.m_sender | type = {{ order.s_contact_message.m_sender}}</p>
                        <!-- { if s_contact_message.m_sender|get_type == 'str' %}
                        <p>s_contact_message.m_sender type == 'str'</p>
                        { else %}
                        <p>s_contact_message.m_sender type != 'str'</p>
                        { endif %} -->

                        <p> logged in user = {{ request.user }} </p>
                        <p> logged in user | type = {{ request.user }} </p>
                        <!-- { if request.user|get_type == 'str' %}
                            <p>request.user type == 'str'</p>
                        { else %}
                            <p>request.user type != 'str'</p>
                        { endif %} -->


<hr>
                        {% if order.s_contact_message.m_sender != request.user %}
                            <p>request.user2               ={{ request.user|length }}.</p>
                            VS
                            <p>s_contact_message.m_sender2 ={{ order.s_contact_message.m_sender|length }}.</p>
                        {% endif %}
                    {% endfor%}
                    
                    
                    {% if request.user.is_authenticated %}
                    <h3>MESSAGE HISTORY</h3>
                    {% for message in all_messages %}
                    {% if message %}
                    <p>Message sender: {{ message.m_sender }}</p>
                    <p>User logged in: username {{ username }} or AKA: {{ service.default_aka }}</p>
                    <p>User request.user {{ request.user }}</p>
                    <p>{{message.m_title}}</p>
                    <p>{{message.m_body}}</p>
                    <p>{{message.m_share_email_box}}</p>
                    <p>{{message.m_created_date}}</p>
                    {% if not message.m_sender %}
                    <p>{{message.m_sender}}</p>
                    {% else %}
                    <p>{{m_sender}}</p>
                    {% endif %}
                    <p>{{message.m_receiver}}</p>
                    <a type="button"
                        href="{% url 'delete_service_message' message_id=message.id username=request.user %}">Remove
                        message!</a>
                    <div style="border-bottom: 2px solid rgb(143, 114, 60);"></div>
                    {% else %}
                    <div style="border-bottom: 2px solid rgb(143, 114, 60);">You have no message history with this user
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <!--  DO NOT SHOW ANY MESSAGE HISTORY IF USER IS NOT LOGGED IN -->
                    {% endif%}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <form class="mt-3" action="{% url 'my_profile' %}" method="POST" id="">
                            {% csrf_token %}
                            {{ my_profile_form|crispy }}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " target="__blank" href="">Update</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Project Status</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>
</div>
<!-- end of profile bootstrap -->

<h2 class="">My Profile</h2>

<!-- crispy form start below -->


<h3>Message history</h3>
{% if request.user.is_authenticated %}
<h3>MESSAGE HISTORY</h3>
{% for message in all_messages %}
{% if message %}
<p>Message sender: {{ message.m_sender }}</p>
<p>User logged in: username {{ username }} or AKA: {{ service.default_aka }}</p>
<p>User request.user {{ request.user }}</p>
<p>{{message.m_title}}</p>
<p>{{message.m_body}}</p>
<p>{{message.m_share_email_box}}</p>
<p>{{message.m_created_date}}</p>
{% if not message.m_sender %}
<p>{{message.m_sender}}</p>
{% else %}
<p>{{m_sender}}</p>
{% endif %}
<p>{{message.m_receiver}}</p>
<a type="button" href="{% url 'delete_service_message' message_id=message.id username=request.user %}">Remove
    message!</a>
<div style="border-bottom: 2px solid rgb(143, 114, 60);"></div>
{% else %}
<div style="border-bottom: 2px solid rgb(143, 114, 60);">You have no message history with this user</div>
{% endif %}
{% endfor %}
{% else %}
<!--  DO NOT SHOW ANY MESSAGE HISTORY IF USER IS NOT LOGGED IN -->
{% endif%}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> -->
{% endblock %}