{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"> -->
{% endblock %}

{% block page_header %}
<!-- <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div> -->
{% endblock %}

{% block content %}

<h2 class="">Services and Workers</h2>

<!-- beutiful card  https://codepen.io/JavaScriptJunkie/full/WgRBxw or https://codepen.io/alvaromontoro/full/ebPEWb  or simpler https://codepen.io/fernstedt/pen/mxGzor https://codepen.io/wheately/pen/bzNoJQ -->
<!-- for loop to display list of services and workers -->

<!-- beggining of card -->

<!-- end of card -->

<!-- card number 2 -->

<body>
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">

                {% for service in services %}
                <div class="col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-4 align-items-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                            class="rounded-circle" width="150">
                                    </div>
                                    <div class="col-8 mt-3">
                                        <h4>John Doe</h4>
                                        <p class="text-secondary mb-1">{{ service.default_service }}</p>
                                        <p class="text-muted font-size-sm">{{ service.default_service_details }}</p>
                                        <p class="text-muted font-size-sm">{{ service.default_county }}</p>
                                        <button class="btn btn-primary">Follow</button>
                                        <button class="btn btn-outline-primary">Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>
<!-- card number 2 -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> -->
{% endblock %}