{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block page_header %}
<div class="container header-container"> Block page header
    <div class="row">
        <div class="col-6" style="border-bottom: 4px dotted blue;">
            <h5>Message Detailed</h5>
            
                    <p>Message sender: {{ message_to_checkout.m_sender }}</p>
                    <p>User logged in: {{ message_to_checkout }} or {{ message_to_checkout.default_aka }}</p>
                    <p>User request.user {{ message_to_checkout.user }}</p>
                    <p>{{message_to_checkout.m_title}}</p>
                    <p>{{message_to_checkout.m_body}}</p>
                    <p>{{message_to_checkout.m_share_email_box}}</p>
                    <p>{{message_to_checkout.m_created_date}}</p>
                    <p>{{message_to_checkout.m_sender}}</p>
                    <p>{{message_to_checkout.m_receiver}}</p>
                    <div style="border-bottom: 2px solid rgb(143, 114, 60);"></div>
                

                    <div style="border-bottom: 2px solid rgb(143, 114, 60);">You are not logged in or you dont have a message
                        history with this service provider</div>

        </div>
        <div class="col-6" style="border-bottom: 4px dotted blue;">
            <h5>Payment Details:</h5>
            
            <!-- Stripe block -->
            <form action="{% url 'checkout' %}">
                <fieldset class="px-3">
                    <legend >Payment</legend>

                    <!-- A Stripe card element will go here -->
                    <!-- Stripe = payment -->
                    <div class="" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name='client_secret'>
                </fieldset>

            <!-- submit button -->
                <button id="submit-button" class="">
                    <span class="">Complete Order</span>
                    <span class="">
                        <i class=""></i>
                    </span>
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

            <h2 class="logo-font mb-4">Block content</h2>
  
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- prebuilt card form -->
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
 <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock%}